page-principal {

    .grid{
        margin-top: 3vh;
        margin-left: 4vw;
    }
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    
    .row:after {
        clear: both;
    } 
    .column + .column {
        margin-left: 5vh;
    } 
    
    @media only screen and (max-width: 550px) {
        .column-1, 
        .column-2, 
        .column-3, 
        .column-4, 
        .column-5, 
        .column-6 {
            float: none;
            width: auto;
        }
      
        .column + .column {
            margin-left: 5vw;
        }
    }

    .column {
        background: #135F8C;
        border: 1px solid #ccc;
        border-radius: 5%;
        color: white;
        padding: 5px;
        height: 20vh;
        margin-left: 2vw;
        width: 40vw;
        text-align: center;
        font-size: 5vw; 
        font-weight: bold;
        position: relative;
        float: left;
        display: block;
        box-sizing: border-box;
    }
    .column:hover{
        background: rgb(211, 18, 18);
    }
    
    .row {
        margin-bottom: 2vh;
        box-sizing: border-box;
    }
    
    .p {
      font-size: 10px;
      text-align: center;
      padding-top: 100px;
    }
    
    img{
        margin-top: -3vh;
        height: 20vh;
        width: 35vw; 
    } 
    .interna{
        min-height: 20vh;
        max-height: 40vh;
        min-width: 20vw;
        max-width: 50vw;
        margin-left: 4%;
        
    }
}
