page-relatorios { 
    ion-card-content{  
        background-color: #135F8C;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }
    ion-card-header{ 
        background-color: #135F8C;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; 
    }
    #titulo{
    font-size: 4vh;
    text-align: center;
    color:white;
    }
    #local{ 
        color:white;

    }
    #valor{ 
        color:white;

    }
    #horario{
        
        color:white;

    }
}
